.content {
    width: 95%;
    overflow: hidden;
    margin: 0 auto;
}
.editTextItem{
    width:95%;
    margin: 10px auto;
    display: flex;
    .overlayItemTitle{
        display: block;
        width:80px;
        flex: none;
    }
    .editText{
        height: 100%;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }
}
.header {
    line-height: 40px;
}

.list {
    background: #fff;
}

.listHandle {
    .handleItem {
        color: #1890ff;
        margin-right: 10px;
        cursor: pointer;
    }

    .handleItem:hover {
        text-decoration: underline;
    }

    .handleItemDel {
        color: #f51c1c;
        margin-right: 10px;
        cursor: pointer;
    }

    .handleItemDel:hover {
        text-decoration: underline;
    }
}

.search {
    width: 100%;
    display: flex;
    margin: 20px auto 0 auto;
    background: #fff;
    padding: 20px 20px;
    justify-content: space-between;
}

.overlay {
    width: 100%;
    overflow: hidden;
    margin: 20px auto;

    .overlayItem {
        width: 95%;
        height: 30px;
        line-height: 30px;
        margin: 10px auto;
        display: flex;

        .overlayItemTitle {
            display: block;
            width: 80px;
        }

        .overlayCheck {
            width: 100%;
            overflow: hidden;
            line-height: 30px;
        }

        .msgError {
            border-color: red;
        }
        
    }

    .groupItem {
        height: auto;
    }
}
.overlayUpload{
    height: 180px;
    width: 95%;
    margin: 10px auto;
    display: flex;
    .overlayItemTitle{
        display: block;
        width:80px;
        flex: none;
    }
    .uploadImage{
        height: 92px;
        width: 92px;
    }
}